body {
	box-shadow: 5px 5px 5px black;
	border-width: 15px;
	border-style: solid;
	border-color:black;
	width:690px;
	margin:120px;
	padding:20px;}

h1{
	background:black;
	color:white;
	text-align:center;
	width:690px;}
	
div{
	display:inline-block;
	position:relative;
	background-color:green;
	text-align:center;
	width:690px;}
		
label{
	display: inline-block;
	border:1px solid gray;
	margin:2px;
	height: 40px;
	width: 79px;}
	
.butt > input[type=checkbox] + label{
	display: inline-block;
	border:1px solid gray;
	background-color: #ccc;
	cursor: pointer;
	margin:2px;
	height: 40px;
	width: 79px;}
	
.butt > input[type=checkbox]{display: none;}

.butt > input[type=checkbox]:checked + label{
	border:1px solid red;
	background-color: yellow;}
	
select{
	border:1px solid gray;
	width:81px;
	margin:2px;}