h1{
	display:inline-block;
	position:relative;
	background:blue;
	width:100%;
	//margin:25px;
	text-align:center;
}

#fundo{
	display:inline-block;
	position:relative;
	background:blue;
	//background-image:url("img/fundo.jpg");;
	width:100%;
	//margin-right:300px;
	text-align:center;
	
}

#dark {
	background:blue;
	text-align:center;
}
