body {
	border-width: 15px;
	border-style: solid;
	border-color: blue;
	//border-radius: 10px;
	//box-shadow: 5px 5px 5px black;
	width: 100%;
	height: 600px;
	//margin-right: 10px;
	margin: 0px;
	padding: 10px;}
	
form, section {
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	height: 270px;}
	
table {
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0;
	padding: 0;}
	
th, tr, td {
	width:70px;
	text-align:center;}
	
h3 {
	background-color: red;
	text-align: center;
	margin: 0;
	padding: 0;}

.cat01 {
	background-image:url("../img/cat01.gif");
	background-position:center;}
	
.cat02 {
	background-image:url("../img/cat02.gif");
	background-position:center;}
	
.cat03 {
	background-image:url("../img/cat03.gif");
	background-position:center;}
	
.cat04 {
	background-image:url("../img/cat04.gif");
	background-position:center;}
	
.cat05 {
	background-image:url("../img/cat05.gif");
	background-position:center;}

.cat06 {
	background-image:url("../img/cat06.gif");
	background-position:center;}
	
.cat07 {
	background-image:url("../img/cat07.gif");
	background-position:center;}
	
.cat08 {
	background-image:url("../img/cat08.gif");
	background-position:center;}
	
.cat09 {
	background-image:url("../img/cat09.gif");
	background-position:center;}
	
.cat61 {
	background-image:url("../img/cat61.gif");
	background-position:center;}
	
.cat62 {
	background-image:url("../img/cat62.gif");
	background-position:center;}
	
.cat63 {
	background-image:url("../img/cat63.gif");
	background-position:center;}
	
#x_red, #s_green,
#c_green, #c_red,
#c_aberta, #c_fechada{
	border-width: 3px;
	border-style: solid;
	border-color:gray;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	background-color: blue;
	display: inline-block;
	position: relative;
	float:left;
	margin:2px;
	}

#button1{
	background-color: blue;
	display:inline-block;
	position:relative;
	vertical-align:top;
	text-shadow:10px 25px black;
	font-size: 30px;
	color:aqua;
	text-align:left;
	align-items: top;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	float: left;
	width: 19%;
	height: 28%;
	margin: 2px;
	padding: 2px;}

#button2{
	background-color: blue;
	//border-style: glove;
	//border-color: coral;
	border-width: 5;
	//display: inline;
	//position: relative;
	//float: center;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 40%;
	height: 40%;
	margin: 4px;
	padding: 20px;}
	
#button3 {
	display: inline-block;
	position: relative;
	float: right;
	//padding: 15px 25px;
	//font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	//color: #fff;
	background-color: blue;
	//border: none;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 40%;
	height: 85%;
	margin: 5px;}

#button4{
	background-color: blue;
	//border-style: glove;
	//border-color: coral;
	border-width: 5;
	display: inline-block;
	position: relative;
	justify-content:center;
	text-align: center;
	align-items:center;
	float: right;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 30%;
	height: 90%;
	margin: 4px;
	padding: 20px;}
	
#centro {
	display:flex;
	position:relative;
	justify-content:center;
	//text-align: right;
	align-items:center;
	float: center;
	width: 58%;
	//height: 50%;
	//margin: 2px;
	//padding: 2px;}
	
centro1 {
	display:flex;
	border-width: 5;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	margin: 0;
	//padding: 0;}
	
#in_troco {
	display:flex;
	justify-content:center;
	align-items:center;
	//height: 100px;
	margin: 0;
	padding: 0;}
	
#esquerda1, #esquerda2 {
	//display: flex;
	//position: absolute;
	box-sizing: border-box;
	background-color: skyblue;
	float: left;
	width: 72%;
	height: 300px;
	margin: 2px;
	padding: 5px;}
	
#esquerda_up {
	//display: flex;
	//position: absolute;
	box-sizing: border-box;
	background-color: skyblue;
	float: left;
	width: 26%;
	height: 90px;
	margin: 2px;
	padding: 5px;}
	
#centro_up {
	//display: flex;
	//position: absolute;
	box-sizing: border-box;
	background-color: skyblue;
	float: left;
	width: 46%;
	height: 90px;
	margin: 2px;
	padding: 5px;}
	
#direita_up {
	//pointer-events: none;
	display:inline-block;
	//position: auto;
	box-sizing: border-box;
	background-color: skyblue;
	//float: right;
	width: 26%;
	height: 90px;
	//max-height: 200px;
	//overflow: auto;
	margin: 2px;
	padding: 5px;}
	
#direita1 {
	pointer-events: none;
	//display: flex;
	//position: auto;
	box-sizing: border-box;
	//background-color: skyblue;
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	box-shadow: 5px 5px 5px black;
	float: top;
	width: 95%;
	height: 145px;
	//max-height: 200px;
	overflow:hidden;
	margin: 2px;
	padding: 5px;}
	
#direita2 {
	pointer-events: none;
	//display: flex;
	//position: auto;
	box-sizing: border-box;
	border-radius: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	box-shadow: 5px 5px 5px black;
	background-color: white;
	float: bottom;
	width: 95%;
	height: 150px;
	//max-height: 200px;
	//overflow: auto;
	margin: 2px;
	padding: 5px;}
	
#des_cancela {
	//display:block;
	position:absolute;
	//justify-content:center;
	//background-color:blue;
	//text-align: center;
	//align-items:center;
	//float:right;
	width: 300px;
	height: 90px;
	top: 24px;
	left: 70%;
	z-index: 3;}
	
#formPag1, #m_op1, #m_isento1 {
	//display:flex;
	position: absolute;
	justify-content:center;
	text-align: center;
	align-items:center;
	float: center;
	width: 100%;
	height: 600px;
	top: 8px;
	left: 8px;
	z-index: 3;}
	
#formPag2, #m_op2, #m_isento2 {
	//display: flex;
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	background-color: skyblue;
	justify-content:center;
	align-items:center;
	float: center;
	width: 600px;
	height: auto;
	margin: 0;
	padding: 0;
	top: 40px;
	left: 40px;
	z-index: 5;}
	
#geral {
	display:inline-block;
	position:relative;
	width:97.5%;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	background-color: skyblue;
	align-items:justify;
	text-align:justify;
	text-justify:auto;
	margin: 2px;
	//bottom: 10px;
	//left: 5px;
	//z-index: 5;}
	
#setaEsq {
	background-color: blue;
	color: white;
	font-size: 30px;
	//border-style: glove;
	//border-color: coral;
	border-width: 5;
	//display: inline-block;
	position: relative;
	//justify-content: left;
	//text-align: left;
	//align-items: left;
	//float: left;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 10%;
	height: 30%;
	margin: 2px;
	padding: 10px;}
	
#setaDir {
	background-color: blue;
	color: white;
	font-size: 30px;
	//border-style: glove;
	//border-color: coral;
	border-width: 5;
	//display: inline-block;
	position: relative;
	//justify-content: right;
	//text-align: right;
	//align-items: right;
	float: right;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;
	width: 10%;
	height: 30%;
	margin: 2px;
	margin-right:6px;
	margin-bottom:8px;
	padding: 10px;}